<div class="configurationController box">
    <div class="title table-head">
        <div class="inline-block three-cells vertical-align-middle">
            <span>Sections</span>
        </div>

    </div>

    <table class="table table-hover table-mc-light-blue">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th>
                    <custom-button on-click="addNewSection()"
                                   custom-class="inline-block vertical-align-middle float-right margin-right"
                                   name="Add new Section">
                    </custom-button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="section in configuration.sections">
                <td>{{section.name}}</td>
                <td>{{section.description}}</td>
                <td>
                    <span ng-click="updateSection(section);">edit</span>
                </td>
                <td>
                    <span ng-click="deleteSection(section);">delete</span>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="title">
        <div class="inline-block three-cells vertical-align-middle">
            <span>Fields</span>
        </div>
    </div>
    <table class="table table-hover table-mc-light-blue">
        <thead>
            <tr>
                <th>Name</th>
                <th>Key</th>
                <th>Type</th>
                <th>
                    <select ng-model="selectedSectionId"
                            ng-options="section.id as section.name for section in configuration.sections">
                        <option value="">--All Sections--</option>
                    </select>
                </th>
                <th>
                    <custom-button on-click="addNewField()"
                                   custom-class="inline-block vertical-align-middle float-right margin-right"
                                   name="Add new Field">
                    </custom-button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="field in configuration.fields track by $index"
                ng-click="navigateToField(field);" class="pointer">
                <td>{{field.name}}</td>
                <td>{{field.key}}</td>
                <td>{{field.type}}</td>
                <td>
                    <span ng-click="updateField(field);$event.stopPropagation();">edit</span>
                </td>
                <td>
                    <span ng-click="deleteField(field);$event.stopPropagation();">delete</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>