<div class="profileContainer box">
    <div class="table-head">
        <span>Profiles</span>
    </div>
    <table id="" class="table table-hover table-mc-light-blue">
        <thead>
        <tr>
            <th>ProfileName</th>
            <th>Description</th>
            <th></th>
            <th>
                <custom-button name="Add New Profile"
                               on-click="addNewProfile();"
                               custom-class="float-right">
                </custom-button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-click="navigateToProfile(profile);"
            ng-repeat="profile in profiles track by $index"
            class="pointer">
            <td>
                {{profile.name}}
            </td>
            <td>
                {{profile.description}}
            </td>
            <td ng-click="updateProfile(profile);$event.stopPropagation();">
                Edit
            </td>
            <td ng-click="deleteProfile(profile);$event.stopPropagation();">
                delete
            </td>
        </tr>
        </tbody>
    </table>
</div>