<div class="fieldContainer">
    <nav-tabs ng-if="tabs.length" tabs="tabs"
              custom-class="tab-container"
              default-tab="tabs[0]">
    </nav-tabs>

    <div ng-if="selectedTab.id === 'general'" class="generalFieldContainer">
        <div class="propertiesContainer">
            <table class="table table-hover table-mc-light-blue">
                <tbody>
                    <tr ng-repeat="generalProperty in generalProperties track by $index">

                        <td class="bold">{{generalProperty.name}}</td>
                        <td>
                            <span type="text" >{{generalProperty.value}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-if="selectedTab.id === 'parameters'" class="parameterFieldContainer">
        <div class="propertiesContainer">
            <table class="table table-hover table-mc-light-blue">
                <tbody>
                    <tr ng-repeat="parameterProperty in parameterProperties">
                        <td class="bold">{{parameterProperty.name}}</td>
                        <td>
                            <input ng-if="parameterProperty.type === 'text'" type="text" ng-model="{{parameterProperty.value}}">
                            <select ng-if="parameterProperty.type === 'dropdown'"
                                    ng-model="parameterProperty.value"
                                    ng-options="option.id as option.name for option in parameterProperty.options">
                            </select>
                            <div ng-if="parameterProperty.type === 'dynamicDropdown'">
                                <div class=""></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-if="selectedTab.id === 'attributes'" class="attributeFieldContainer">
        <div class="propertiesContainer">
            <table class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Key</th>
                        <th>Type</th>
                        <th></th>
                        <th>
                            <custom-button on-click="addNewAttribute()"
                                           custom-class="float-right"
                                           name="Add New Attribute">
                            </custom-button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="attribute in attributes"
                        ng-click="navigateToField(attribute);"
                        class="pointer">
                        <td class="bold">{{attribute.name}}</td>
                        <td>{{attribute.key}}</td>
                        <td>{{attribute.type}}</td>
                        <td>
                            <span>edit</span>
                        </td>
                        <td>
                            <span>delete</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>