<div class="profileContainer">
    <div class="header">
        <div class="inline-block four-cells text-center">
            <span class="bold">ProfileName </span>
            <span>{{profile.name}}</span>
        </div>
        <div class="inline-block four-cells text-center">
            <span class="bold">Description </span>
            <span>{{profile.description || 'no description'}}</span>
        </div>
        <div class="inline-block four-cells text-center">
            <span class="bold">Profile Id </span>
            <span>{{profile.id}}</span>
        </div>

        <custom-button name="Add New Section"
                       custom-class="inline-block align-bottom five-cells"
                       on-click="addNewSection();" >
        </custom-button>

    </div>
    <div clas="sectionTabs header">
        <div ng-click="changeSection(section);" ng-repeat="tab in sectionTabs">
            <span>tab.name</span>
        </div>
    </div>

    <div class="sectionContainer">
        <div ng-repeat="section in sections">

        </div>
    </div>
</div>