<div class="projectContainer">
    <div class="header">
        <div class="inline-block three-cells text-center">
            <span class="bold">ProjectName</span>
            <span>{{project.name}}</span>
        </div>
        <div class="inline-block three-cells text-center">
            <span class="bold">Description</span>
            <span>{{project.description || 'no description'}}</span>
        </div>
        <div class="inline-block three-cells text-center">
            <span class="bold">Project Id</span>
            <span>{{project.id}}</span>
        </div>
    </div>

    <nav-tabs tabs="tabs"
              custom-class="tab-container"
              default-tab="tabs[0]">

    </nav-tabs>

    <ng-include ng-if="selectedTab.id==='general'" src="'/partials/components/applicationContainer'"></ng-include>
    <ng-include ng-if="selectedTab.id==='profiles'" src="'/partials/components/profileContainer'"></ng-include>
    <ng-include ng-if="selectedTab.id==='configuration'" src="'/partials/components/configurationContainer'"></ng-include>

</div>