.float-right{
    float: right;
}

.bold{
    font-weight: bold;
}

.inline-block{
    display: inline-block;
}

.three-cells{
    width: 33%;
}

.text-center{
    text-align: center;
}

.pointer{
    cursor: pointer;
}

.box{
    margin-bottom: 10px;
    margin-top: 42px;
    background: white;
}

.title{
    padding: 0px 16px;
    font-size: 17px;
}

.table-head{
    padding: 16px;
    background: #16A085;
    color: white;
    font-size: 22px;
}

tr.selected{
    background: #E4E4E4;
}

.four-cells{
    width: 25%;
}

.five-cells{
    width: 20%;
}

.align-bottom{
    vertical-align: bottom;
}

.padding{
    padding: 10px;
}

.margin{
    margin: 10px;
}

.margin-right{
    margin-right: 10px;
}

.header{
    display: block;
    background: white;
    padding: 15px;
    margin: 10px 0px;
}

.vertical-align-middle{
    vertical-align: middle;
}