.modal{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    outline: none;
    background: rgba(0, 0, 0, 0.26);
}
.modal.fade .modal-dialog {
    opacity: 0;
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 100%;
}

.modal.fade.in .modal-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

/* DIALOG CONTENT */
.modal-content {
    border: none;
    border-radius: 2px;
    /*-webkit-box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);
    box-shadow: 0 40px 77px rgba(0, 0, 0, 0.22), 0 27px 24px rgba(0, 0, 0, 0.2);*/
}


h1 {
    width: 100%;
    background: #03A9F4;
    padding: 20px;
    color: white;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
    border-radius: 3px 3px 0 0;
    font-size: 21px;
}

form {
    font-family: 'roboto', sans-serif;
    width: 460px;
    margin: 100px auto 0;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding: 0 0 10px;
    border-radius: 3px;
    color: #555;
    background: white;
}

form .button-container{
    margin-top: 20px;
    margin-bottom: 9px;
}
form button{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    display: inline-block;
    position: relative;
    width: 120px;
    height: 32px;
    line-height: 32px;
    border-radius: 2px;
    font-size: 0.9em;
    border: 0;
    margin: 0 12px;
}

.blue-background{
    background: #03A9F4;
    color: white;
}
.white-background{
    background: white;
    color: #03A9F4;
}
.item-container{
    margin-bottom: 19px;
}

.item-container span{
    color: #03A9F4;
    margin: 0 25px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    font: inherit;
    -webkit-transition: font-size 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: font-size 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

input,
textarea,
select {
    font: inherit;
    font-size: 0.8em;
    margin: 0px 25px 0px;
    width: 400px;
    display: block;
    border: none;
    padding: 6px 0 0px;
    border-bottom: solid 1px #03A9F4;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #03A9F4 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #03A9F4 4%);
    background-position: -400px 0;
    background-size: 400px 100%;
    background-repeat: no-repeat;
    -webkit-transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    resize: none;
    overflow: hidden;
    outline: none;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: #03A9F4;
}
input:focus, input:valid,
textarea:focus,
textarea:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}
input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder,
textarea:valid::-webkit-input-placeholder {
    font-size: 0.8em;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    visibility: visible !important;
    opacity: 1;
}

input[type="email"] {
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #03A9F4 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #03A9F4 4%);
    background-position: -400px 0;
    background-repeat: no-repeat;
    -webkit-transition: border-bottom 0.3s ease, background 0.3s ease;
    transition: border-bottom 0.3s ease, background 0.3s ease;
}
input[type="email"] ~ span.validation-text {
    position: absolute;
    visibility: hidden;
    font-family: 'roboto', sans-serif;
    font-size: 0.6em;
    width: 400px;
    margin-left: 25px;
    margin-top: -5px;
    color: white;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
input[type="email"]:not([value=""])::-webkit-input-placeholder {
    font-size: 0.8em;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    visibility: visible !important;
    opacity: 1;
}
input[type="email"]:not([value=""]):focus::-webkit-input-placeholder {
    color: #03A9F4;
}
input[type="email"]:not([value=""]):focus:not(:valid)::-webkit-input-placeholder {
    color: #E91E63;
}
input[type="email"]:focus {
    background-position: 0 0;
}
input[type="email"]:focus:not(:valid):not([value=""]) {
    border-bottom: solid 1px #E91E63;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #E91E63 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #E91E63 4%);
}
input[type="email"]:not(:focus):not(:valid):not([value=""]) {
    border-bottom: solid 1px #E91E63;
    background-position: 0 0;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #E91E63 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #E91E63 4%);
}
input[type="email"]:not(:focus):not(:valid):not([value=""])::-webkit-input-placeholder {
    color: #E91E63;
}
input[type="email"]:not(:focus):not(:valid):not([value=""]) ~ span.validation-text {
    visibility: visible;
    color: #E91E63;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.flex textarea {
    line-height: 120%;
}

/*a {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  font-family: 'roboto', sans-serif;
  text-decoration: none;
  color: $base;
  i {
    margin-right: 5px;
  }
}*/
a {
    width: 42px;
    height: 42px;
    border-radius: 50px;
    background: #03A9F4;
    display: inline-block;
    margin: 50px calc(50% - 21px);
    white-space: nowrap;
    padding: 13px;
    box-sizing: border-box;
    color: white;
    -webkit-transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    font-family: Roboto, sans-serif;
    text-decoration: none;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}
a i {
    margin-right: 20px;
    -webkit-transition: margin-right 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: margin-right 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}
a:hover {
    width: 134px;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
}
a:hover i {
    margin-right: 10px;
}
